<section class="section__contact container">
  <h1 class="contact__title">{{ title }}</h1>
  <div class="contact__content">
    <p class="contact__paragraph">
      Si te ha gustado mi trabajo y deseas ponerte en contácto conmigo, puedes
      hacerlo por los siguientes medios:
    </p>
    <p class="contact__email"><span class="email">Email: </span>
      <a href="mailto:ricardo.pachecoescobar@gmail.com">ricardo.pachecoescobar@gmail.com</a>
    </p>
    <p class="contact__phone"><span class="phone">Teléfono / whatsapp: </span>
      <a href="https://api.whatsapp.com/send?phone=+573112360676" target="_blank">+573112360676</a>
    </p>
    <p class="contact__country"><span class="country">Bogotá - Colombia</span></p>
    <q class="cite">
      Nunca consideres el estudio como un deber, sino como una oportunidad para
      penetrar en el maravilloso mundo del saber.
    </q> 
    <span class="author">(Albert Einstein).</span>
  </div>
</section>
