<section class="section__name" id="section__name">
  <h1 class="section__title" id="section__title">{{ title }}</h1>
  <h2 class="section__subtitle" id="section__subtitle">{{ subtitle }}</h2>
  <a href="mailto:{{ email }}" class="section__mail" id="section__mail" target="_blank">{{ email }}</a>
</section>

<article class="article__about" id="article__about">
  <h2 class="about__subtitle" id="about__subtitle">Sobre mí</h2>
  <p class="about__paragraph about__paragraph--mod" id="about__paragraph">
    Soy ingeniero de software graduado de la universidad politécnico grancolombiano
    del año 2022, con habilidades en desarrollo web Front-End, maquetado de
    páginas WEB con HTML5, CSS3, JavaScript, Angular y bases de datos
    relacionales SQL y bases de datos no relacionales NoSQL. Trabajo como
    Independiente desarrollador front-end a partir del 2020.
  </p>
  <p class="about__paragraph" id="about__paragraph">
    Soy capaz de identificar las necesidades del negocio, priorizar los
    requerimientos del cliente convirtiéndolos a Historias de Usuario, definir
    los ítems y procesos necesarios para brindar soluciones eficientes y valor
    agregado a los clientes.
  </p>
  <p class="about__paragraph" id="about__paragraph">
    Cuento con habilidades para el trabajo en equipo, adaptación al cambio,
    auto-organizado y conocimientos básicos en metodologías ágiles Scrum y
    Kanban. Me apasiona aprender nuevas tecnologías, me gusta capacitarme
    constantemente buscando siempre la mejora continua.
  </p>
  <section class="section__skills" id="section__skills">
    <h2 class="skills__title" id="skills__title">Habilidades</h2>
    <div class="skills__content" id="skills__content">
        <ul class="skills__list" id="skills__list">
            <li class="skills__item" id="skills__item">HTML5.</li>
            <li class="skills__item" id="skills__item">CSS3.</li>
            <li class="skills__item" id="skills__item">Bootstrap.</li>
            <li class="skills__item" id="skills__item">JQuery.</li>
            <li class="skills__item" id="skills__item">TypeScript.</li>
            <li class="skills__item" id="skills__item">Javascript.</li>
            <li class="skills__item" id="skills__item">Angular.</li>
            <li class="skills__item" id="skills__item">NodeJS.</li>
            <li class="skills__item" id="skills__item">SQL (Bases de datos relacionales: Microsoft SQL Server, MySQL, PostgreSQL).</li>
            <li class="skills__item" id="skills__item">NoSQL (Bases de datos no relacionales: MongoDB).</li>
            <li class="skills__item" id="skills__item">Manejo de repositorios GIT y GitHub.</li>
            <li class="skills__item" id="skills__item">Conocimientos en metodologías ágiles SCRUM y Kanban.</li>
        </ul>
    </div>
  </section>
</article>
