@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap');

:root{
    --font1: 'Finger Paint', cursive;
    --font2: 'Titillium Web', sans-serif;
    --font3: 'Yanone Kaffeesatz', sans-serif;
}

html{
    font-size: 20px;
}

body{
    background-color: #f2F2F2;
    opacity: 0.8;
    background-image: radial-gradient(#C9C9C9 0.5px, #f2F2F2 0.5px);
    background-size: 10px 10px;
    font-family: var(--font3);
    background-attachment: fixed;
}

.container{
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

/* --- Header --- */
.main__container{
    max-width: 1440px;
    width: 80%;
    height: auto;
    background-color: #FAFAFA;
    margin: 50px auto 30px;
    box-shadow: 3px 3px 10px rgba(182, 179, 179, 0.6),
                -3px -3px 10px rgba(182, 179, 179, 0.6);
    border-radius: 5px;
    border: 1px solid #b7b7b7;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 100px;
    background: #1e3c72; 
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72); 
    background: linear-gradient(to right, #2a5298, #1e3c72);
    box-shadow: 3px 3px 10px rgba(53, 53, 53, 0.6),
                -3px -3px 10px rgba(53, 53, 53, 0.6);
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    z-index: 1000;
}

.header__nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav__link{
    font-size: 1.20rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 36px 20px;
    position: relative;
}

.nav__link:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

/* --- about --- */
.section__name{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 30px 0 20px;
}

.section__title{
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 2px solid rgb(128, 128, 128, 0.5);
    user-select: none;
}

.section__subtitle,
.section__mail{
    letter-spacing: 0.8px;
    text-decoration: none;
    background-image: -webkit-linear-gradient(to right, #2a5298, #1e3c72); 
    background-image: linear-gradient(to right, #2a5298, #1e3c72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

.article__about{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0 70px 40px ; 
}

.about__paragraph{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.6px;
}

.about__paragraph--mod::first-letter{
    color: #2a5298;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 2px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0);
    /* background-color: rgb(0, 0, 0); */
    /* padding: 0 2px; */
}

/* --- Skills --- */
.section__skills{
    width: 100%;
    margin: 10px 0;
}

.skills__title{
    margin-bottom: 10px;
}

.skills__item{
    font-size: 1rem;
    letter-spacing: 0.6px;
    line-height: 1.3;
}

/* --- Section Form --- */
.section__formulario{
    width: 85%;
    margin: 20px auto;
}

.form__title{
    text-align: center;
    margin: 50px 0 30px;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: 1px;
    /* border-bottom: 2px solid rgb(128, 128, 128, 0.5); */
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.inputs label,
.inputs input,
.inputs textarea{
    font-family: var(--font3);
    letter-spacing: 1px;
}

.inputs label{
    font-size: 1.1rem;
    font-weight: 400;
}

.inputs input, 
.inputs textarea{
    outline: none;
    padding: 8px 12px;
    font-size: 0.8rem;
}

.form__btn{
    margin: 10px 0;
    border: none;
    padding: 10px 0;
    color: #fff;
    font-size: 26px;
    letter-spacing: 1px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #2a5298 0%, #1e3c72 50%, #2a5298 100%);
    background-size: 200% auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6), -1px -1px 6px rgba(119, 119, 119, 0.6);
    cursor: pointer;
    transition: all 0.5s;
}

.form__btn:hover{
    background-position: right center;

}

/* --- Cuando el btn tenga el atributo dissabled --- */
.form__btn[disabled]{
    opacity: 0.4;
    cursor: not-allowed;
}

/* --- Inputs alert --- */
.input__alert{
    width: 40%;
    padding: 8px 0;
    text-align: center;
    color: rgb(199, 8, 8);
    background-color: rgba(204, 33, 33, 0.301);
    border-radius: 3px;
}

/* --- Estilos mensaje creación del proyecto --- */
.message{
    width: 50%;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 20px;
}

.success{
    background-color: rgba(161, 238, 167, 0.671);
    color: rgb(42, 122, 49);
}

.success a{
    margin-left: 5px;
    color: rgb(0, 2, 0);
    
}

.failed{
    background-color: rgba(204, 33, 33, 0.301);
    color: rgb(199, 8, 8);
}


/* --- Estilos sección Proyectos --- */
.section__projects{
    width: 100%;
    padding: 40px;
    margin: 0 auto;
}

.projects__title{
    margin: 10px 0 30px;
    font-size: 2.25rem;
    font-weight: bold;
    font-family: var(--font3);
    letter-spacing: 1px;
    text-align: center;
    /* border-bottom: 2px solid rgb(128, 128, 128, 0.5); */
}

.projects__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, auto));
    column-gap: 4em;
    row-gap: 2em;
}

.projects__item{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.projects__texts h2{
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.projects__texts p{
    line-height: 1.3;
    font-size: 1rem;
}

.projects__img{
    width: 20%;
    overflow: hidden;

}

.projects__img img{
    width: 100%;
    object-fit: cover;
}

.projects__link{
    display: block;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 5px;
    text-align: right;
    color: #2a5298;
    transition: 0.3s all;
}

.projects__link--mod{
    text-align: left;
}

.projects__link:hover{
    text-decoration: underline;
    color: #01163d;
}

/* --- Detail-project --- */
.section__detailProject{
    width: 100%;
    padding: 40px 70px;
    overflow: hidden;
}

.detailProject__title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.detailProject__content{
    display: flex;
    gap: 1.5em;
}

.detailProject__texts{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5em;
}

.detailProject__description{
    font-size: 1.1rem;
    font-weight: 400;
}

.detailProject__langs{
    line-height: 1.5;
}

.langs__link{
    text-decoration: none;
    color: #2a5298;
}

.langs__link:hover{
    text-decoration: underline;
    color: #01163d;
}

/* --- Section Contacto --- */
.section__contact{
    width: 100%;
    padding: 20px 70px 40px;
}

.contact__title{
    text-align: center;
    margin: 30px 0;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    /* border-bottom: 2px solid rgb(128, 128, 128, 0.5); */
}

.contact__content{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.email, .phone, .country{
    font-size: 1rem;
    font-weight: bold;
    margin-right: 5px;
}

.contact__email a,
.contact__phone a{
    text-decoration: none;
    color: #000;
}

.contact__email a:hover,
.contact__phone a:hover{
    text-decoration: underline;
    color: #2a5298;
}

.cite{
    margin-top: 100px;
    text-align: right;
    font-style: italic;
    letter-spacing: 0.8px;
    background-image: -webkit-linear-gradient(to right, #2a5298, #1e3c72); 
    background-image: linear-gradient(to right, #2a5298, #1e3c72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.author{
    text-align: right;
    background-image: -webkit-linear-gradient(to right, #2a5298, #1e3c72); 
    background-image: linear-gradient(to right, #2a5298, #1e3c72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact__paragraph{
    font-size: 1.1rem;
}



/* --- Footer --- */
.footer{
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
}

.footer__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer__name,
.footer__job{
    user-select: none;
}

.footer__nav{
    display: flex;
    align-items: center;
}

.footer__link{
    margin: 0 20px;
}

.footer__link i{
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
}

.footer__link i:hover{
    color: #2a5298;
}

/* --- Responsive Design --- */
@media screen and (max-width: 850px) {
    html{
        font-size: 18px;
    }

    /* --- Titles --- */
    .section__title,
    .projects__title,
    .form__title,
    .contact__title{
        font-size: 34px;
    }

    /* --- Section about --- */
    .article__about{
        padding: 0 50px 40px; 
        text-align: justify;
    }

    /* --- Section projects --- */
    .section__projects{
        padding: 40px 50px 40px 10px;
    }

    .projects__list{
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    .projects__item{
        text-align: justify;
    }

    .projects__texts p{
        font-size: 1rem;
    }

    .projects__img,
    .projects__link{
        margin: 0 auto;
        text-align: center;
    }

    .projects__link--mod{
        font-size: 1rem;
    }

    /* --- Section contact --- */
    .section__contact{
        padding: 20px 50px 40px;
    }
}

@media screen and (max-width: 600px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}