<section class="section__projects" id="section__projects">
    <h2 class="projects__title">Proyectos</h2>
    <ul class="projects__list">
        <li class="projects__item" *ngFor="let project of projects">
            <div class="projects__texts">
                <h3>{{project.name}}</h3>
                <p>{{project.description}}</p>
            </div>
            <figure class="projects__img">
                <img src="{{url + 'get-image/' + project.image}}" alt="" *ngIf="project.image">
                <a class="projects__link" href="{{project.urlSite}}" target="_blank">Ir al proyecto</a>
            </figure>
        </li>
    </ul>
</section>


