<main class="main__container" id="main__container">
  <!-- Header -->
  <header class="header container" id="header">
    <nav class="header__nav header__nav--menu" id="header__nav">
      <a [routerLink]="['/sobre-mi']" class="nav__link" id="nav__link" [routerLinkActive]="['actived']">Sobre mí</a>
      <a [routerLink]="['/proyectos']" class="nav__link" id="nav__link" [routerLinkActive]="['actived']">Proyectos</a>
      <a [routerLink]="['/crear-proyecto']" class="nav__link" id="nav__link" [routerLinkActive]="['actived']">Subir Proyecto</a>
      <a [routerLink]="['/contacto']" class="nav__link" id="nav__link" [routerLinkActive]="['actived']">Contácto</a>
      <img src="../assets/images/close.svg" alt="Image_close_menu" class="menu__close"/>
    </nav>
    <div class="header__menu">
      <img src="../assets/images/menu.svg" alt="Image_open_menu" class="menu__open" />
    </div>
  </header>

  <!-- Main Section -->
  <section class="main__section" id="main__section">
    <router-outlet></router-outlet>
  </section>

</main>

<!-- Footer -->
<footer class="footer" id="footer">
  <section class="footer__section" id="footer__section">
    <span class="footer__name" id="footer__name">Jose Ricardo Pacheco Escobar</span>
    <span class="footer__job" id="footer__job">Ingeniero de Software</span>
  </section>
  <nav class="footer__nav" id="footer__nav">
    <a href="https://www.linkedin.com/in/jose-ricardo-pacheco-escobar-a2a76422b/" class="footer__link" id="footer__link" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://github.com/JoseRicardoPE/" class="footer__link" id="footer__link" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://api.whatsapp.com/send?phone=+573112360676" class="footer__link" id="footer__link" target="_blank">
      <i class="fa fa-whatsapp"></i>
    </a>
    <a href="mailto:ricardo.pachecoescobar@gmail.com" class="footer__link" id="footer__link" target="_blank">
      <i class="fa fa-envelope"></i>
    </a>
  </nav>
</footer>

